# For docker-compose.dev.yml, you can use the following .env.example file as a template (POSTGRES* variables too).
DATABASE_DRIVER=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=prac
DATABASE_PASSWORD=password
DATABASE_NAME=prac
PORT=3000
LOGGER=JSON # (DEV, JSON, TSKV)

# For local development without docker-compose, you can copy only these few variables. 
POSTGRES_USER=prac
POSTGRES_PASSWORD=password
POSTGRES_DB=prac




